{% extends "images/main.html" %}
{% load static %}

{% block content %}

<div class="container">
    <br/>
	<div class="row justify-content-center">
                        <div class="col-12 col-md-10 col-lg-8">
                            <form method="post" class="card card-sm">
                                {% csrf_token %}

                                <div class="card-body row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <i class="fas fa-search h4 text-body"></i>
                                    </div>
                                    <!--end of col-->
                                    <div class="col">
                                        <input name="query" class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search images in your database">
                                    </div>
                                    <!--end of col-->
                                    <div class="col-auto">
                                        <button class="btn btn-lg btn-success" type="submit">Search</button>
                                    </div>
                                    <!--end of col-->
                                </div>
                            </form>
{% if results %}
<div class="row justify-content-center">
    {% for r in results %}
    <div class="col-auto text-center mb-3">
        <img src="{{ r.image }}" class="img-fluid" style="max-width: 200px;" alt="{{ r.caption }}">
        <p>{{ r.caption }}</p>
    </div>
    {% endfor %}
</div>
{% endif %}

                        </div>
                        <!--end of col-->

                    </div>

</div>
{% endblock %}

